
.header{
    height: 500px;
    width:100%;
    background-color: rgb(140, 244, 244);
    padding-top: 100px;
    padding-left: 10px;
    align-content: center;
}

.titulo{
    color:blue
}

.task{
    align-content: left;
    text-align: left;
}